body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
}
.d_nav{
  background-color: #001352;
  width: 100%;
  position: sticky;
  top:0;
  margin-bottom: 20px;
  align-items: center;
  display: flex;
  align-items: center;
  .nav1{
    width: 70%;
  }
  ul{
    font-size: 1.1vw;
    align-items: center;
    display: flex;
  }
  li{
    list-style: none;
    display: inline-block;
  }
  a{
    text-decoration: none;
    color: white;
  }
  i{
    font-size: 20px;
  }
  .nav1 li{
    margin-right: 1.5%;
  }
  img{
    width: 9.2vw;
  }
  .nav2{
    justify-content: right;
    width: 20%;
    padding-left: 0px;
  }
  li button{
    background-color: transparent;
    color: white;
    outline: none;
    border: 1px solid white;
    height: 2.9vw;
    margin-right: 15px;
    font-size: 1vw;
    cursor: pointer;
  }
  li a i:before{
    font-size: 1.7vw;
  }
}
.m_nav{
  display: none;
}
.content{
  width: 90%;
  margin: auto;
  display: flex;
  .carousel{
    width: 50%;
    display: flex;
    justify-content: space-around;
    .slider{
      width: 20%;
      text-align: center;
      a{
        font-size: 40px;
        color: aqua;
      }
      .slider_img{
        width: 100%;
        height: 100%;
      }
    }
  }
  .slide{
    width: 70%;
    img{
      width: 100%;
      height: 100%;
      border: 2px solid rgba(0, 0, 0, 0.2);
      object-fit: contain;
    }
  }
  .product_info{
    width: 50%;
    h1{
      width: 90%;
      font-size: 2.5vw;
      color: #001352;
    }
    .fa-star,.fa-star-half{
      color: aqua;
      font-size: 1.2vw;
    }
    .review_count{
      font-size: 1vw;
      color: #001352;
      font-weight: 700;
      text-decoration: underline;
    }
    .product_price{
      display: flex;
      .price{
        width: 70%;
      }
      .stock{
        width: 30%;
        text-align: right;
        p{
          font-size: 2vw;
          font-size: 1vmax;
        }
        p:first-child{
          font-weight: 900;
        }
      }
    }
    .quantity{
      width: 100%;
      border-top: 1px solid rgba(0, 0, 0, 0.315);
      border-bottom: 1px solid rgba(0, 0, 0, 0.315);
      font-size: 1.4vw;
      padding-top: 15px;
      padding-bottom: 15px;
      display: flex;
      align-items: center;
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      input{
        margin-left: 30px;
        text-align: center;
        width: 40%;
        height: 2.2vw;
        font-size: 1.6vw;
        font-weight: 900;
        color: #001352;
      }
      button{
        display: none;
      }
    }
    .add_to_cart{
      button{
        background-color: #001352;
        color: white;
        height: 3vmax;
        margin: 30px 0px 30px 0px;
        border: none;
        font-size: 1vw;
        width: 100%;
        cursor: pointer;
        font-weight: 900;
      }
    }
    .location_share{
      display: flex;
      color: #001352;
      text-align: center;
      .location,.share{
        width: 50%;
        font-size: 1.1vmax;
        i{
        font-size: 2.7vw
        }
      }
    }
  }
}
.info{
  display: flex;
  ul{
    color: #001352;
    cursor: pointer;
    width: 96.9%;
    border-top:  1px solid #001352;
    border-bottom:  1px solid #001352;
    li{
      list-style: none;
      display: inline-block;
      margin-right: 4%;
      padding: 10px;
    }
    .cont{
      display: none;
    }
    li:first-child{
      margin-left: 5%;
    }
  }
}
.info_content{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
 ul li{
   padding: 15px;
 }
}
.main_content{
  display: flex;
  margin: auto;
  justify-content: space-around;
  background-color: #F6F7FA;
  margin-bottom: 5%;
  text-align: center;
  color: #001352;
  div{
    display: flex;
    flex-direction: column;
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  h2{
    font-size: 1.75vw;
  }
}
}
.detail{
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  div{
    width: 30%;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0 5% 2% 5%;
    border-radius: 10px;
    margin-bottom: 5%;
    P{
      font-size: 1.68vw;
    }
    p:first-child{
      font-size: 3vw;
      margin-bottom: 0px;
    }
    hr{
      opacity: 0.5;
      margin-bottom: 30px;
      margin-top: 30px;
    }
    a{
      font-weight: 800;
      text-decoration-thickness: 3px;
      font-size: 1.2vw;
    }
  }
}
footer{
  background-color: #001352;
  .top_cont{
    margin-top: 50px;
    padding-top: 20px;
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    .logocontainer{
      width: 10%;
      object-fit: contain;
      img{
        width: 80%;
      }
    }
    ul{
      list-style: none;
      margin: 0;
      a{
        text-decoration: none;
        color: white;
        font-size: 0.9vw;
      }
    }
    i{
      color: white;
      padding-left: 5px;
      font-size: 1.5vw;
    }
  }
}
.Accesibility{
  width: 48%;
  margin: auto;
  color: white;
  h5{
    font-size: 0.95vw;
  }
  ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    padding-bottom: 30px;
    justify-content: space-between;
  }
  li:first-child{
    font-weight: 900;
  }
  a{
    color: white;
    text-decoration: none;
    font-size: 0.8vw;
  }
}
@media screen and (max-width: 425px){
  *{
    box-sizing: border-box;
  }
  .m_nav{
    display: block;
    background-color: #001352;
    div{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0px 30px 0px 30px;
      ul{
        list-style: none;
        padding: 0;
       li a{
         text-decoration: none;
       }
       li a i{
         font-size: 4vw;
       }
      }
      a{
        color: white;
      }
      img{
        width: 12vw;
      }
    }
  }
  .d_nav{
    display: none;
  }
  .content{
    flex-direction: column;
    width: 100%;
    .carousel{
      flex-direction: column;
      width: 100%;
    }
    .slide{
      order: 1;
      width: 99%;
    }
    .slider{
      order: 2;
      a{
        display: none;
      }
      div{
        display: flex;
      }
    }
    .product_info{
      width: 100%;
      padding: 20px;
      h1{
        font-size: 1.8rem;
      }
      i::before{
        font-size: 1rem;
      }
      .review_count{
        font-size: 0.7rem;
      }
      .product_price{
        .stock{
          p{
        font-size: 0.7rem;
      }
      }
      }
      .quantity{
        display: flex;
        flex-direction: column;
        span{
          visibility: hidden;
          position: relative;
        }
        span::after{
          visibility: visible;
          content: 'Select Quantity';
          font-size: 0.7rem;
          font-weight: 700;
        }
        .moblie_views{
          display: flex;
          justify-content: space-between;
        input{
          margin: 5px 0px 5px 30px;
          font-size: 1rem;
          height: 1.5rem;
          width: 6rem;
        }
        button{
          display: block;
          background-color: #001352;
          color: white;
          border: none;
          height: 1.8rem;
          font-size: 0.7rem;
          width: 100%;
        }
      }
      }
      .add_to_cart{
        display: none;
      }
      .location_share{
        margin-top: 10px;
        i::before{
          font-size: 2rem;
        }
        span{
          font-size: 0.8rem;
        }
      }
    }
  }
  .info{
    display: flex;
    flex-direction: column;
    ul{
      .cont{
        display: block;
      }
    }
  }
  .main_content{
    flex-direction: column;
    div{
      flex-direction: row;
      div{
        width: 50%;
        align-items: center;
        justify-content: center;
      h2{
        width: 100%;
        height: 20%;
        font-size: 1.2rem;
      }
    }
    }
  }
  .detail{
    flex-direction: column;
    div{
      width: 100%;
      padding-bottom: 30px;
      p:first-child{
        font-size: 3.5rem;
      }
      p{
        font-size: 2.1rem;
      }
      a{
        font-size: 1rem;
      }
    }
  }
}